.todo-list {

  &__form {
    width: 75%;
    display: block;
    margin: 0 auto;
  }

  &__form-input {
    @include BodyFont(18px);

    width: calc(100% - 82px);
    height: rem-calc(40);
    border: rem-calc(1) solid $border-gray;
  }

  &__form-submit {
    @include link-transition(500ms);

    width: 75px;
    height: rem-calc(45);
    border: 0;
    padding: 0;
    margin: 0;
    color: $white;
    background-color: $charcoal;
    font-size: 14px;
    letter-spacing: rem-calc(-0.5);
    font-weight: 700;
    position: absolute;
    top: 0;

    &:active,
    &:focus,
    &:hover {
      color: $white;
      background-color: $gray;
    }
  }
}