a {
  @include link-transition(500ms);

  color: $gray;
  text-decoration: none;
  cursor: pointer;

  &:active,
  &:focus,
  &:hover {
    color: $charcoal;
  }

  &:visted {
    color: $gray;
  }
}

@mixin BodyFont($size) {
  font-family: $sans-serif;
  font-size: $size;
  line-height: calc(#{$size} * 1.25);
  font-weight: 400;
}

@mixin StrikeThrough($size) {
  font-family: $sans-serif;
  font-size: $size;
  line-height: calc(#{$size} * 1.25);
  font-weight: 400;
  text-decoration: line-through;
}